In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500) #change settings to output more

In [3]:
beer_df = pd.read_csv('beer_data_cleaned7-19.csv')
beer_df.head() #import and check

C:\Users\mitch\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (12,17,30,31,35,38,39,43,46,47,51,54,55,59,62,63,67,70,71,75,76,81,86,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,name,url,Batch_Style,Category,Batch_size_liters,og,fg,abv,ibu,...,Adjunct4Amount,Adjunct4Name,Adjunct4Type,Adjunct4Timing,Adjunct5Time,Adjunct5Amount,Adjunct5Name,Adjunct5Type,Adjunct5Timing,Adjunct5Time8
0,163393.0,Beer 34,/homebrew/recipe/view/993213/beer-34,Extract,NaN,44.3,1.083,1.024,7.71,35.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,161059.0,Beer 33,/homebrew/recipe/view/986623/beer-33,All Grain,NaN,47.9,1.085,1.030,7.11,31.62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,168668.0,Lily & Nellie,/homebrew/recipe/view/979812/lily-amp-nellie,All Grain,NaN,52.6,1.086,1.020,8.74,28.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,85583.0,APA la pirinola,/homebrew/recipe/view/768547/apa-la-pirinola,All Grain,American Pale Ale,8.0,1.051,1.008,5.72,66.89,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,178687.0,3/28 L. Brevis Sour,/homebrew/recipe/view/979809/3-28-l-brevis-sour,All Grain,NaN,49.2,1.074,1.025,6.38,26.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
beer_df.describe() #basic descriptives
#average abv of 6% is a good sign that cleaning went well, as well as 37 ibu and 5.49 ph (the goal is 5.2-5.6 for conversion)

,id,Batch_size_liters,og,fg,abv,ibu,color_levibonds,mashph,Base Metric1,Base Metric2,Base Metric3,AdjunctMetric1,AdjunctMetric2,AdjunctMetric3,Adjunct2Metric1,Adjunct2Metric2,Adjunct2Metric3,Adjunct3Amount,hop1amount
count,150144.000000,150145.000000,150145.000000,150145.000000,150145.000000,150145.000000,150145.000000,32818.000000,150141.000000,150141.000000,150141.000000,137804.000000,137804.000000,137804.000000,112731.000000,112731.000000,112731.000000,78332.000000,142170.000000
mean,83314.788849,51.891098,1.059336,1.013292,6.048637,37.610541,13.091081,5.497854,37.244785,5.360670,67.839651,35.660633,34.424094,18.064957,34.442067,61.995920,9.364357,1.000210,53.005392
std,50541.560542,216.502861,0.016084,0.004913,1.698070,25.175687,12.636411,0.355511,3.120895,27.982644,22.871968,4.418572,87.802434,15.950057,5.405436,126.071552,10.104561,5.378094,276.060661
min,2.000000,-1.000000,1.000000,0.987000,2.000000,0.000000,0.000000,1.090000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39834.750000,18.900000,1.050000,1.010000,5.020000,21.400000,4.870000,5.400000,37.000000,1.800000,52.300000,34.000000,2.000000,7.000000,33.000000,2.200000,4.200000,0.200000,14.000000
50%,80282.500000,20.800000,1.056000,1.013000,5.690000,32.380000,7.990000,5.550000,37.000000,2.000000,72.700000,35.000000,4.000000,11.800000,34.000000,10.000000,6.700000,0.300000,28.000000
75%,125254.500000,24.000000,1.066000,1.016000,6.700000,49.170000,15.790000,5.700000,38.000000,3.750000,85.500000,38.000000,25.000000,25.000000,37.000000,46.000000,10.300000,0.500000,35.000000
max,179450.000000,11734.800000,1.725000,1.039000,24.980000,149.920000,305.000000,8.790000,132.000000,880.000000,100.000000,258.000000,1600.000000,100.000000,300.000000,3603.540000,100.000000,462.664000,27180.000000

In [5]:
beer_df.isnull().sum()

id                        1
name                      0
url                       0
Batch_Style               0
Category               5580
Batch_size_liters         0
og                        0
fg                        0
abv                       0
ibu                       0
color_levibonds           0
mashph               117327
Base Malt Amount          0
Base Malt                 4
Base Metric1              4
Base Metric2              4
Base Metric3              4
Adjunct1Amount        12333
Adjunct1Name          12333
AdjunctMetric1        12341
AdjunctMetric2        12341
AdjunctMetric3        12341
Adjunct2Amount        25074
Adjunct2Name          25075
Adjunct2Metric1       37414
Adjunct2Metric2       37414
Adjunct2Metric3       37414
Adjunct3Amount        71813
Adjunct3Name          71813
Adjunct3Metric1       71814
Adjunct3Metric2       71814
Adjunct3Metric3       71814
hop1amount             7975
hop1name               7886
hope1type              8169
hop1alpha              7887
hop1additiontype       7887
hop1time               7887
hop1metric1            7887
hop1metric2            7887
hop2amount            59538
hop2name              94324
hop2type              94324
hop2alpha             94324
hop2additiontype      94324
hop2time              94324
hop2metric1           94326
hop2metric2           94326
hop3amount            81516
hop3name             113760
hop3type             113760
hop3alpha            113760
hop3type2            113760
hop3additiontype     113760
hop3metric1          113760
hop3metric2          113760
hop4amount           106609
hop4name             126045
hop4type             126045
hop4alpha            126045
hop4time             126045
hop4additiontime     126045
hop4metric1          126045
hop4metric2          126045
hop5amount           121536
hop5name             133821
hop5type             133821
hop5alpha            133821
hop5additiontype     133821
hop5time             133821
hop5metric1          133821
hop5metric2          133821
hop6amount                0
hop5name2             12370
hop6type              12400
hop6ibu               12371
hop6metric1           12371
hop7amount            46221
hop7name              58591
hop7type              58593
hop7ibu               58593
hop7metric1           58593
hop8amount            59916
hop8name             106137
hop8type             106138
hop8alpha            106140
hop8metric1          106140
hop9amount            83849
hop9name             131395
hop9type             131395
hop9alpha            131397
YeastStrain               0
Attenuation               0
Flocculation            203
LowTemp                   0
HighTemp                  0
Starter?                  0
Adjunct1Amount2           0
Adjunct1name3             4
Adjunct1Type          95921
Adjunct1Timing        95913
Adjunct1Time          95913
Adjunct2Amount4       95913
Adjunct2name5        117541
Adjunct2Type         117773
Adjunct2Timing       117783
Adjunct2Time         117784
Adjunct3Amount6      117787
Adjunct3name7        131291
Adjunct3Type         131475
Adjunct3Timing       131513
Adjunct3Time         131515
Adjunct4Amount       131515
Adjunct4Name         138890
Adjunct4Type         139030
Adjunct4Timing       139072
Adjunct5Time         139083
Adjunct5Amount       139083
Adjunct5Name         143612
Adjunct5Type         143730
Adjunct5Timing       143763
Adjunct5Time8        143772
dtype: int64

In [6]:
beer_df.isnull().sum()/len(beer_df)*100

id                    0.000666
name                  0.000000
url                   0.000000
Batch_Style           0.000000
Category              3.716407
Batch_size_liters     0.000000
og                    0.000000
fg                    0.000000
abv                   0.000000
ibu                   0.000000
color_levibonds       0.000000
mashph               78.142462
Base Malt Amount      0.000000
Base Malt             0.002664
Base Metric1          0.002664
Base Metric2          0.002664
Base Metric3          0.002664
Adjunct1Amount        8.214060
Adjunct1Name          8.214060
AdjunctMetric1        8.219388
AdjunctMetric2        8.219388
AdjunctMetric3        8.219388
Adjunct2Amount       16.699857
Adjunct2Name         16.700523
Adjunct2Metric1      24.918579
Adjunct2Metric2      24.918579
Adjunct2Metric3      24.918579
Adjunct3Amount       47.829099
Adjunct3Name         47.829099
Adjunct3Metric1      47.829765
Adjunct3Metric2      47.829765
Adjunct3Metric3      47.829765
hop1amount            5.311532
hop1name              5.252256
hope1type             5.440741
hop1alpha             5.252922
hop1additiontype      5.252922
hop1time              5.252922
hop1metric1           5.252922
hop1metric2           5.252922
hop2amount           39.653668
hop2name             62.821939
hop2type             62.821939
hop2alpha            62.821939
hop2additiontype     62.821939
hop2time             62.821939
hop2metric1          62.823271
hop2metric2          62.823271
hop3amount           54.291518
hop3name             75.766759
hop3type             75.766759
hop3alpha            75.766759
hop3type2            75.766759
hop3additiontype     75.766759
hop3metric1          75.766759
hop3metric2          75.766759
hop4amount           71.004029
hop4name             83.948849
hop4type             83.948849
hop4alpha            83.948849
hop4time             83.948849
hop4additiontime     83.948849
hop4metric1          83.948849
hop4metric2          83.948849
hop5amount           80.945752
hop5name             89.127843
hop5type             89.127843
hop5alpha            89.127843
hop5additiontype     89.127843
hop5time             89.127843
hop5metric1          89.127843
hop5metric2          89.127843
hop6amount            0.000000
hop5name2             8.238703
hop6type              8.258683
hop6ibu               8.239369
hop6metric1           8.239369
hop7amount           30.784242
hop7name             39.022944
hop7type             39.024277
hop7ibu              39.024277
hop7metric1          39.024277
hop8amount           39.905425
hop8name             70.689667
hop8type             70.690333
hop8alpha            70.691665
hop8metric1          70.691665
hop9amount           55.845349
hop9name             87.512072
hop9type             87.512072
hop9alpha            87.513404
YeastStrain           0.000000
Attenuation           0.000000
Flocculation          0.135203
LowTemp               0.000000
HighTemp              0.000000
Starter?              0.000000
Adjunct1Amount2       0.000000
Adjunct1name3         0.002664
Adjunct1Type         63.885577
Adjunct1Timing       63.880249
Adjunct1Time         63.880249
Adjunct2Amount4      63.880249
Adjunct2name5        78.284991
Adjunct2Type         78.439508
Adjunct2Timing       78.446169
Adjunct2Time         78.446835
Adjunct3Amount6      78.448833
Adjunct3name7        87.442805
Adjunct3Type         87.565353
Adjunct3Timing       87.590662
Adjunct3Time         87.591994
Adjunct4Amount       87.591994
Adjunct4Name         92.503913
Adjunct4Type         92.597156
Adjunct4Timing       92.625129
Adjunct5Time         92.632455
Adjunct5Amount       92.632455
Adjunct5Name         95.648873
Adjunct5Type         95.727463
Adjunct5Timing       95.749442
Adjunct5Time8        95.755436
dtype: float64

In [7]:
import matplotlib.pyplot as plt
import seaborn as sns
beer_df['hop1name'].value_counts() #might narrow it down to only records that have a value count of 100+ or some other arbitrary cleaning technique

 Magnum                   12240
 Cascade                   9230
 East Kent Goldings        6539
 Columbus                  6385
 Centennial                5779
                          ...
 Tradition (Hallertau)        1
 HORT4337                     1
 Magnum (home grown)          1
 Zagrava                      1
 Hop Shot Syringe             1
Name: hop1name, Length: 3353, dtype: int64

In [8]:
beer_df['Base Malt'].value_counts()

American - Pale 2-Row                     32881
United Kingdom - Maris Otter Pale         18220
German - Pilsner                          11082
American - Pilsner                         7073
Belgian - Pilsner                          6049
                                          ...
Barke Bohemian Pilsner                        1
German Pilsener                               1
Castle Malting - Ch\u00e2teau Chocolat        1
Canadian - Pale Malt                          1
BG Wheat Malt                                 1
Name: Base Malt, Length: 2125, dtype: int64

In [21]:
threshold= (len(beer_df))*.01
print(threshold)
beer_df_trimmed = beer_df.groupby('Base Malt').filter(lambda x : len(x)>threshold)
beer_df_trimmed.head()
len(beer_df_trimmed)
#gets rid of base malts that are <= 1% of the total variation in base malts (using value counts)

1501.45

106651

In [22]:
beer_df_trimmed = beer_df.groupby('hop1name').filter(lambda x : len(x)>threshold)
beer_df_trimmed.head()
len(beer_df_trimmed)
#gets rid of rows with hops that are <= 1% of the total variation in primary/hop 1 (using value counts)

102004

In [25]:
beer_df_trimmed.to_csv('beer_data_cleaned7-27.csv')